<% content_for :head do %>
  <%#= stylesheet_link_tag 'projects' %>
  Content for head
<% end %>

<% title "Subjects" %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Contains</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.title, subject_path(subject) %></td>
        <td>(<%= pluralize(subject.sections.size, 'section') %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%#= section_archive_path(2016, 11) %><br>
<%#= section_archive_path(year: 2016, month: 11) %>
<br>
<%= link_to "Add new subject", new_subject_path %><br>
<%= link_to "All sections", sections_path %>
<br>
<% content_for :footer do %>
  <br>
  Content for footer
<% end %>