<% content_for :head do %>
  <%#= stylesheet_link_tag 'projects' %>
  Content for head
<% end %>

<h3>Subjects</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.title, subject_path(subject) %></td>
        <td>(<%= pluralize(subject.sections.size, 'section') %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to "All sections", sections_path %></p>

<% content_for :footer do %>
  <br>
  Content for footer
<% end %>