<% title @subject.title %>
<% @sections.each do |section| %>
  <p><%= link_to section.title, section_path(section) %></p>
<% end %>
<br>
<p><%= link_to "All subjects", subjects_path %></p>
<p><%= link_to "All sections", sections_path %></p>