// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section-lookup-form {
  display: inline-block;
  width: 100%;
  input[type="text"] {
    margin: 10px 10px 0px 0px;
    width: 70%;
  }
  .button {
    padding: 10px;
    width: 20%;
  }
}

tbody tr:nth-child(odd) {
  background-color: #efefef;
}

td {
  padding: 3px 5px 3px 5px;
}

.error_messages {
  li {
    padding-top: 10px;
  }
}

/* zebra striping for table rows */
/*.odd { background-color: #efefef; }
.even { background-color: none; }*/

/* fixed table layout sections by listing (not detailed) */
.sections-listing .sections-by-list {
  table-layout: fixed;
  width: 70%;
  /*white-space: nowrap;*/
  .row-title {
    width: 40%;
  }
  .row-deadline {
    width: 30%;
  }
  .row-mark {
    width: 30%;
  }
}
